@import url("./default-site.css");

:root {
  --font-family: "Cera Pro", sans-serif;
  --second-family: "YS Text", sans-serif;
}

/* stylelint-disable */
/* stylelint-disable */
.burger__wrapper {
  background-color: #545b2f;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 370px;
  min-height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  background-color: var(--belyy);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
}
@media (min-width: 768px) and (max-width: 1219px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    min-width: 320px;
    max-width: 400px;
    padding: 0 10px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

@media (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}

.d-hero {
  margin-top: 40px;
  margin-bottom: 50px;
}
.d-hero__content {
  max-width: 556px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.d-hero__wrapper {
  position: relative;
  padding-block: 46px;
  padding-inline: 70px;
  overflow: hidden;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .d-hero__wrapper {
    padding: 30px;
    background: #663399;
  }
}
.d-hero__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .d-hero__image {
    display: none;
  }
}
.d-hero__image img {
  width: 100%;
  height: 100%;
}
.d-hero__subtitle {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 8px 16px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0;
  margin-bottom: 20px;
}
.d-hero__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  margin: 0;
  margin-bottom: 14px;
}
.d-hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 50px;
}
.d-hero__list li {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  position: relative;
  padding-left: 12px;
}
.d-hero__list li:before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 8px;
  height: 8px;
  background: url("../../img/icons/icon-list.svg") center/contain no-repeat;
}
.d-hero__actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
@media (max-width: 767px) {
  .d-hero__actions {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.d-hero__actions .d-hero__btn--border {
  color: #fff;
}
.d-hero__btn {
  border: 1px solid #e8e1f0;
  border-radius: 5px;
  padding: 12px 24px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  color: #fff;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.d-hero__btn--accent {
  background: #fff;
  color: #0f0044;
}
@media (any-hover: hover) {
  .d-hero__btn--accent:hover {
    color: #fff;
    background: transparent;
  }
}
.d-hero__btn--border {
  color: #fff;
  text-decoration: none;
}
@media (any-hover: hover) {
  .d-hero__btn--border:hover {
    color: #0f0044;
    background: #fff;
  }
}

.d-programs {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .d-programs {
    margin-bottom: 60px;
  }
}
.d-programs__title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 2.5vw, 26px);
  color: #0f0044;
  margin-bottom: 30px;
}
.d-programs__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media (max-width: 767px) {
  .d-programs__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.d-programs__item {
  border-radius: 5px;
  padding: clamp(14px, 2vw, 20px);
  background: #e8e1f0;
}
.d-programs__item p {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #0f0044;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 14px;
}
@media (max-width: 767px) {
  .d-programs__item p {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.d-programs__item p:before {
  content: "";
  min-width: 46px;
  height: 38px;
  background: url("../../img/icons/icon-programs.svg") center/contain no-repeat;
}
@media (max-width: 767px) {
  .d-programs__item p:before {
    min-width: 24px;
    height: 20px;
  }
}

.d-result {
  margin-bottom: 80px;
}
.d-result__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 470px;
  grid-template-columns: 1fr 470px;
  gap: 30px;
}
@media (max-width: 1219px) {
  .d-result__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 14px;
  }
}
.d-result__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  color: #0f0044;
  margin: 0;
  margin-bottom: 30px;
}
.d-result__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 14px;
}
.d-result__list li {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #0f0044;
  position: relative;
  padding-left: 30px;
}
.d-result__list li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../../img/icons/icon-check.svg") center/cover no-repeat;
}
.d-result__right img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.d-dev {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .d-dev {
    margin-bottom: 60px;
  }
}
.d-dev__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 470px 1fr;
  grid-template-columns: 470px 1fr;
  gap: 30px;
}
@media (max-width: 1219px) {
  .d-dev__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 14px;
  }
}
.d-dev__right {
  padding: 20px;
  background: url("../../img/d-dev-bg.svg") center/cover no-repeat;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .d-dev__right {
    height: 200px;
  }
}
.d-dev__right p {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 2.5vw, 26px);
  color: #0f0044;
}
.d-dev__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.d-dev__item {
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  background: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #0f0044;
}

.d-learning {
  margin-bottom: 80px;
}
.d-learning__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 2.5vw, 26px);
  color: #0f0044;
  margin: 0;
  margin-bottom: 30px;
}
.d-learning__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
}
.d-learning__item {
  -webkit-box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-inline: 30px;
  gap: 20px;
}
@media (max-width: 1219px) {
  .d-learning__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #eeeef0;
    padding-block: 30px;
  }
}
.d-learning__item-left {
  padding-block: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-right: 1px solid #eeeef0;
  max-width: 770px;
}
@media (max-width: 1219px) {
  .d-learning__item-left {
    border-right: 0;
    padding-block: 0;
  }
}
.d-learning__item-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 74px 1fr;
  grid-template-columns: 74px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 143%;
  color: #0f0044;
  margin-bottom: 20px;
}
@media (max-width: 1219px) {
  .d-learning__item-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.d-learning__item-top span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 229%;
  color: #fff;
  background: #663399;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.d-learning__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: clamp(15px, 2.5vw, 30px);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.d-learning__item-bottom p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 124%;
  color: #0f0044;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin: 0;
}
.d-learning__item-bottom p.p:before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../../img/icons/icon-price.svg") center/cover no-repeat;
}
.d-learning__item-bottom p.h:before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../../img/icons/icon-hour.svg") center/cover no-repeat;
}
.d-learning__item-bottom p.t:before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../../img/icons/icon-time.svg") center/cover no-repeat;
}
.d-learning__item-btn {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 17px;
  line-height: 217%;
  text-align: center;
  color: #639;
  border: 1px solid #639;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 11px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (any-hover: hover) {
  .d-learning__item-btn:hover {
    background: #639;
    color: #fff;
  }
}

.d-tariff {
  background: #f9f6fe;
  padding-block: 60px;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .d-tariff {
    margin-bottom: 60px;
  }
}
.d-tariff__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1219px) {
  .d-tariff__items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .d-tariff__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.d-tariff__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  padding: 28px 14px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  background: #fff;
}
.d-tariff__item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  color: #0f0044;
  margin-bottom: 14px;
}
.d-tariff__item-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 14px;
}
.d-tariff__item-prices p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 3vw, 26px);
  line-height: 100%;
  color: #0f0044;
  margin: 0;
}
.d-tariff__item-prices p span {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: #0f0044;
  border-radius: 4px;
  padding: 2px 14px;
  background: #e8e1f0;
}
.d-tariff__item p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #0f0044;
  margin-bottom: 8px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.d-tariff__item-btn {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  color: #fff;
  padding: 12px 24px;
  background: #639;
  border-radius: 5px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  will-change: opacity;
  margin-bottom: 24px;
}
@media (any-hover: hover) {
  .d-tariff__item-btn:hover:hover {
    opacity: 0.7;
  }
}
.d-tariff__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}
.d-tariff__item-list li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #639;
}
.d-tariff__item-list li span {
  display: block;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #0f0044;
}

.d-training {
  margin-bottom: 60px;
  margin-bottom: 60px;
}
.d-training__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 3vw, 26px);
  color: #0f0044;
  margin: 0;
  margin-bottom: 30px;
}
.d-training__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 767px) {
  .d-training__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.d-training__item {
  border-radius: 5px;
  background: #f9f6fe;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.d-training__item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -25px;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background: #fff url("../../img/icons/arrow-right.svg") center center
    no-repeat;
  z-index: 1;
  background-size: 30px;
}
@media (max-width: 767px) {
  .d-training__item:not(:last-child):after {
    display: none;
  }
}
.d-training__item .subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #639;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .d-training__item .subtitle:before {
    content: "";
    min-width: 60px;
    height: 60px;
  }
  .d-training__item .subtitle.pc:before {
    background: url("../../img/icons/pc.svg") center/contain no-repeat;
  }
  .d-training__item .subtitle.learn:before {
    background: url("../../img/icons/learn.svg") center/contain no-repeat;
  }
  .d-training__item .subtitle.doc:before {
    background: url("../../img/icons/doc.svg") center/contain no-repeat;
  }
}
.d-training__item p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #0f0044;
  margin: 0;
}

.d-patent {
  margin-bottom: 60px;
}
.d-patent__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 470px;
  grid-template-columns: 1fr 470px;
  gap: 30px;
}
@media (max-width: 1219px) {
  .d-patent__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .d-patent__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 14px;
  }
}
.d-patent__title {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 2.5vw, 26px);
  color: #0f0044;
  margin-bottom: 30px;
}
.d-patent .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 14px;
}
.d-patent .list li {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #0f0044;
  position: relative;
  padding-left: 28px;
}
.d-patent .list li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../../img/icons/icon-check.svg") center/cover no-repeat;
}
.d-patent__right img {
  border-radius: 5px;
}

.d-sale__inner {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 0 rgba(20, 50, 100, 0.15);
  box-shadow: 0 0 15px 0 rgba(20, 50, 100, 0.15);
  background: #fff;
  padding: 40px 20px;
}
.d-sale__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 1219px) {
  .d-sale__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.d-sale__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.d-sale__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 2.5vw, 26px);
  color: #0f0044;
  margin-bottom: 14px;
}
.d-sale__subtitle {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #0f0044;
  border: 1px solid #e8e1f0;
  border-radius: 15px;
  padding: 8px 16px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-bottom: 30px;
}
.d-sale__options:not(:last-child) {
  margin-bottom: 20px;
}
.d-sale__options-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #639;
  margin-bottom: 14px;
}
.d-sale__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;
}
.d-sale__option .option {
  position: relative;
  border: 1px solid #e8e1f0;
  border-radius: 5px;
  padding: 8px 18px;
  background: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.d-sale__option .option input {
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
  cursor: pointer;
  inset: 0;
}
.d-sale__option .option label {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #0f0044;
  position: relative;
  display: block;
  padding-left: 26px;
}
.d-sale__option .option label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 1000px;
  border: 1px solid #e8e1f0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.d-sale__option .option label:after {
  display: none !important;
}
.d-sale__option .option:has(input:checked) {
  background: #e8e1f0;
}
.d-sale__option .option input:checked + label:before {
  background: url("../../img/icons/radio-checked.svg") center/cover no-repeat;
  border: none;
}
@media (max-width: 1219px) {
  .d-sale__image {
    display: none;
  }
}
.d-sale__image img {
  border-radius: 5px;
  height: 100%;
}
.d-sale__form {
  -webkit-box-shadow: 0 0 15px 0 rgba(20, 50, 100, 0.15);
  box-shadow: 0 0 15px 0 rgba(20, 50, 100, 0.15);
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
}
.d-sale__form-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #0f0044;
  margin-bottom: 20px;
}
.d-sale__form .form-sale__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .d-sale__form .form-sale__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.d-sale__form .form-sale__block input {
  border: 1px solid #639;
  border-radius: 5px;
  padding: 11px 18px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #8285a8;
}
.d-sale__form .form-sale__block input::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
}
.d-sale__form .form-sale__block input::-moz-placeholder {
  color: inherit;
  font-size: inherit;
}
.d-sale__form .form-sale__block input:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}
.d-sale__form .form-sale__block input::-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}
.d-sale__form .form-sale__block input::placeholder {
  color: inherit;
  font-size: inherit;
}
.d-sale__form .form-sale__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.d-sale__form .form-sale__bottom .policy {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
  color: #0f0044;
}
.d-sale__form .form-sale__bottom .policy a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: inherit;
}
.d-sale__form .form-sale__btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 11px 28px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  will-change: opacity;
  max-width: 540px;
  width: 100%;
  background: #639;
}
@media (any-hover: hover) {
  .d-sale__form .form-sale__btn:hover:hover {
    opacity: 0.7;
  }
}
.d-sale__futures {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(15px, 2vw, 30px);
  margin-top: 60px;
}
@media (max-width: 1219px) {
  .d-sale__futures {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.d-sale__future {
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
  grid-template-columns: 60px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
.d-sale__future-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.d-sale__future-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(18px, 1.5vw, 21px);
  line-height: 116%;
  color: #0f0044;
  margin: 0;
  margin-bottom: 14px;
}
.d-sale__future-content span {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 15px;
  line-height: 129%;
  color: #8285a8;
}

.d-reviews {
  margin-top: 60px;
  padding-block: 50px;
  border-bottom: 1px solid #eeeef0;
  border-top: 1px solid #eeeef0;
  margin-bottom: 67px;
}
.d-reviews__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.d-reviews__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .d-reviews__header-left img {
    max-width: 150px;
  }
}
.d-reviews__header h2 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 2.5vw, 26px);
  line-height: 189%;
  color: #0f0044;
}
.d-reviews__link {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 17px;
  line-height: 286%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #639;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  will-change: opacity;
}
@media (any-hover: hover) {
  .d-reviews__link:hover:hover {
    opacity: 0.7;
  }
}
.d-reviews__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
  gap: clamp(15px, 2vw, 30px);
}
@media (max-width: 1219px) {
  .d-reviews__items {
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .d-reviews__items {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.d-reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.d-reviews__item-img {
  display: block;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  background: rgba(255, 255, 255, 0);
}
.d-reviews__item-img img {
  width: 100%;
  height: 100%;
}
.d-reviews__item-logo {
  margin-bottom: 10px;
}
.d-reviews__item-name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 114%;
  color: #0f0044;
  margin-bottom: 5px;
}
.d-reviews__item-status {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 80%;
  color: #0f0044;
}

.d-question__futures {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(15px, 2vw, 30px);
  margin-bottom: 60px;
}
@media (max-width: 1219px) {
  .d-question__futures {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.d-question__future {
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  box-shadow: 0 5px 15px 0 rgba(20, 50, 100, 0.08);
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
  grid-template-columns: 60px 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
.d-question__future-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.d-question__future-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(18px, 1.5vw, 21px);
  line-height: 116%;
  color: #0f0044;
  margin: 0;
  margin-bottom: 14px;
}
.d-question__future-content span {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 15px;
  line-height: 129%;
  color: #8285a8;
}
.d-question .d-question__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 767px) {
  .d-question .d-question__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.d-question .d-question__content .left {
  max-width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.d-question .d-question__content .left p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 158%;
  color: #0f0044;
  margin-bottom: 10px;
}
.d-question .d-question__content .left p:last-child {
  margin-top: 15px;
}
.d-question .d-question__content .left p a {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 158%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #639;
}
.d-question .d-question__content .right {
  max-width: 690px;
}
.d-question__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 132%;
  color: #0f0044;
  margin-bottom: 30px;
}
.d-question .question-form__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .d-question .question-form__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.d-question .question-form__bottom {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.d-question .question-form__bottom .policy {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
  color: #0f0044;
  max-width: 440px;
}
.d-question .question-form__bottom .policy a {
  color: inherit;
}
.d-question .question-form__btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 229%;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background: #639;
  padding: 9px 24px;
}

.d-content-training {
  margin-bottom: 60px;
}
.d-content-training__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 3vw, 26px);
  color: #0f0044;
  margin-bottom: 30px;
}
.d-content-training__items {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}
.d-content-training__item {
  border-bottom: 1px solid #e8e1f0;
  padding: 0px 0px 14px;
  cursor: pointer;
}
.d-content-training__item > * {
  pointer-events: none;
}
.d-content-training__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.d-content-training__item-toggler {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.d-content-training__item-toggler svg path {
  stroke-width: 1px;
}
.d-content-training__item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #639;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.d-content-training__item-title span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #639;
  width: 28px;
  height: 28px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: #e8e1f0;
}
.d-content-training__item-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0fr;
  grid-template-rows: 0fr;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow: hidden;
}
.d-content-training__item-content {
  overflow: hidden;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #0f0044;
  margin-top: 0;
}
.d-content-training__item-content p,
.d-content-training__item-content li,
.d-content-training__item-content a {
  font-size: inherit;
  color: inherit;
}
.d-content-training
  .d-content-training__item--active
  .d-content-training__item-toggler {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.d-content-training
  .d-content-training__item--active
  .d-content-training__item-bottom {
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.d-content-training
  .d-content-training__item--active
  .d-content-training__item-content {
  margin-top: 20px;
}

.price-learn__wrapper {
  border-radius: 8px;
  padding: 28px;
  -webkit-box-shadow: 0 0 15px 0 rgba(20, 50, 100, 0.15);
  box-shadow: 0 0 15px 0 rgba(20, 50, 100, 0.15);
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media (max-width: 1219px) {
  .price-learn__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.price-learn__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 3vw, 26px);
  color: #0f0044;
  margin-bottom: 14px;
}
.price-learn__price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(22px, 3vw, 26px);
  color: #0f0044;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.price-learn__price span {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: #0f0044;
  border-radius: 4px;
  padding: 2px 14px;
  background: #e8e1f0;
}
.price-learn__desc {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #8285a8;
  margin-bottom: 14px;
}
.price-learn__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 545px;
  gap: 4px;
}
.price-learn__items li {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #0f0044;
  border: 1px solid #e8e1f0;
  border-radius: 4px;
  padding: 4px 20px;
  text-align: center;
}
.price-learn .price-learn-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.price-learn .price-learn-form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .price-learn .price-learn-form__bottom {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.price-learn .price-learn-form__bottom .policy {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 125%;
  color: #0f0044;
  max-width: 320px;
}
.price-learn .price-learn-form__bottom .policy a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
.price-learn .price-learn-form__btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 11px 28px;
  background: #639;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  will-change: opacity;
}
@media (any-hover: hover) {
  .price-learn .price-learn-form__btn:hover {
    opacity: 0.7;
  }
}
